.page-wrapper {
    margin-left: 10px;
    padding-top: 0px;
}
.bg-light {
    background-color: #0b3654 !important;
}
a.nav-link {
    color: #fff !important;
}
.dropdown-menu.show {
    margin-top: 0px;
    background: #00BCD4;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #0b4856 0%, #6f0a9f 100%);
}
.dropdown-menu.show a {
    color: #fff !important;
    font-weight: 600;
}
.dropdown-menu.show a.dropdown-item:hover {
    color: blue !important;
    padding: 1px 7px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0px !important;
}
/*a.nav-link {
    padding: 12px 9px !important;
    margin: 1px 12px !important;
    font-size: 16px !important;
}*/
a.nav-link {
    padding: 12px 2px !important;
    margin: 1px 9px 1px 24px !important;
    font-size: 15px !important;
}
.dropdown-menu.show a {
padding: 12px 12px !important;
    margin: 0px 0px !important;
    font-size: 16px !important;
}
.dropdown-menu.show a.dropdown-item:hover {
    color: #0b3654 !important;
    background: #ffffff;
    transition: all 500ms ease;
    box-shadow: 4px 1px 7px -1px #0b3654;
    border-radius: 0px 30px;
}
.dropdown-menu.show {
    margin-top: 0px;
    background: #00BCD4;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #0b4856 0%, #6f0a9f 100%);
    
    
}
.dropdown-menu.show a.dropdown-item {
  border-bottom: 1px solid #cccccc52;
}
.dropdown-menu {
    padding: 0px !important;
}
/* a.nav-link {
 --color: #560bad;
 font-family: inherit;
 display: inline-block;
 margin: 20px;
 position: relative;
 overflow: hidden;
 
 transition: color .5s;
 z-index: 1;
 font-size: 16px;
 border-radius: 6px;
 font-weight: 500;
 color: var(--color);
}

a.nav-link:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

a.nav-link:hover {
 color: #fff;
}

a.nav-link:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

a.nav-link:hover:before {
 top: -30px;
 left: -30px;
}

a.nav-link:active:before {
 background: #3a0ca3;
 transition: background 0s;
} */


/* sidebar menu icon */
a#toggle_btn {
    display: none;
}