

.master-head-wappers-inner {
    height: 640px;
}

.master-head-wappers-inner {
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.master-head-wappers {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.master-head-wappers-inner:before {
    content: '';
    background-color: rgba(0, 0, 0, .45);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pageheader-captionn2 {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 9;
    margin-bottom: 10%;
}

.master-head-featureblock {
    width: 90%;
    position: absolute;
    bottom: 60px;
    z-index: 9999;
    margin-left: 100px;
}

.container-with-margin {
    width: 90%;
}

.ik-master-head-featureblock-wap .col-md-12 sup.down-wapx {
    right: 0;
    width: 62%;
    position: relative;
    bottom: 0;
}

.ik-master-head-featureblock-wap h5 sup.down-wapx {
    top: initial;
    bottom: 20px;
    font-size: 20px;
    right: -25px;
}

.ik-master-head-featureblock-wap h5 sup {
    color: #FFC100;
    font-weight: 400;
    font-size: 15px;
    top: 25%;
    position: absolute;
}

.pageheader-captionn2 p {
    font-size: .9rem;
    font-weight: 500;
}

.pageheader-captionn2 {
    color: #fff !important;
    text-align: center;
    position: relative;
    z-index: 9;
    margin-bottom: 25%;
    *margin-top: 28.5%;
    width: 60%;
    margin-left: -6%;
}

    .pageheader-captionn2 .h1, h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .pageheader-captionn2 p, h1 {
        color: #fff !important;
    }

h1 {
    margin-top: 25% !important;
    font-family: 'Roboto';
}

.row.d-flex.align-items-center p {
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: rotate(-46deg);
    margin-left: 18px;
    margin-top: 4px;
    width: 100%;
}

.hexagon {
    width: 200px;
    height: 100px;
    background: #4e555e78;
    position: relative;
}

    .hexagon:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 50px solid #4e555e78;
    }

    .hexagon:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 50px solid #4e555e78;
    }

    .hexagon.master11 {
        text-align: center;
    }

        .hexagon.master11 h4 {
            color: #ffc100;
            font-size: 2.2rem;
            font-weight: 600;
            position: relative;
            margin-bottom: 0;
            text-align: center;
            margin-top: 0px !important;
            font-family: 'Roboto';
        }

        .hexagon.master11 p {
            color: #fff;
            z-index: 9999;
            position: relative;
        }

    .hexagon:hover {
        transform: scale(1.03);
        transition: .9s ease-in;
    }
section.innerpages img {
   border-radius:8px;
}
section.innerpages {
    margin: 0px !important;
    background: #F2F2F2;
    padding: 30px 0px !important;
}